<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Industries</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Construction</a></li>
                    <li><a href="#" class="text-white">Medical</a></li>
                    <li><a href="#" class="text-white">Warehouse</a></li>
                    <li><a href="#" class="text-white">Interior Design & Staging</a></li>
                    <li><a href="#" class="text-white">Automotive</a></li>
                    <li><a href="#" class="text-white">Dental</a></li>
                    <li><a href="#" class="text-white">Events</a></li>
                    <li><a href="#" class="text-white">Non-Profit</a></li>
                    <li><a href="#" class="text-white">Education</a></li>
                    <li><a href="#" class="text-white">Retail</a></li>
                    <li><a href="#" class="text-white">Antiques</a></li>
                    <li><a href="#" class="text-white">Government</a></li>
                    <li><a href="#" class="text-white">Aviation</a></li>
                    <li><a href="#" class="text-white">View All</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Uses</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Inventory Management</a></li>
                    <li><a href="#" class="text-white">Supplies & Consumables Tracking</a></li>
                    <li><a href="#" class="text-white">Asset Tracking</a></li>
                    <li><a href="#" class="text-white">Parts Tracking</a></li>
                    <li><a href="#" class="text-white">Raw Materials Tracking</a></li>
                    <li><a href="#" class="text-white">Tool Tracking</a></li>
                    <li><a href="#" class="text-white">Equipment Tracking</a></li>
                    <li><a href="#" class="text-white">PPE Tracking</a></li>
                    <li><a href="#" class="text-white">IT Asset Tracking</a></li>
                    <li><a href="#" class="text-white">Selling & Ecommerce Inventory Tracking</a></li>
                    <li><a href="#" class="text-white">Barcode Inventory</a></li>
                    <li><a href="#" class="text-white">Inventory App</a></li>
                    <li><a href="#" class="text-white">Home Inventory Management</a></li>
                    <li><a href="#" class="text-white">View All</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Information</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Pricing</a></li>
                    <li><a href="#" class="text-white">Blog</a></li>
                    <li><a href="#" class="text-white">Glossary</a></li>
                    <li><a href="#" class="text-white">About Us</a></li>
                    <li><a href="#" class="text-white">Reviews</a></li>
                    <li><a href="#" class="text-white">Contact Us</a></li>
                    <li><a href="#" class="text-white">Careers</a></li>
                    <li><a href="#" class="text-white">Help Center</a></li>
                    <li><a href="#" class="text-white">Status</a></li>
                    <li><a href="#" class="text-white">Terms of Service</a></li>
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Download</h5>
                <a href="#" class="btn btn-light btn-block mb-3">Download on the App Store</a>
                <a href="#" class="btn btn-light btn-block">Get it on Google Play</a>
                <h5 class="mt-4">Become an Inventory Insider:</h5>
                <p>All the inventory news & insights you need, delivered straight to your inbox every week.</p>
                <form class="form-inline">
                    <input type="email" class="form-control mb-2 mr-2" placeholder="Enter your email" required>
                    <button type="submit" class="btn btn-success mb-2">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <p>&copy; 2024 Barcode Generator. All Rights Reserved. All other logos and trademarks are the property of their respective owners. All prices shown on the website and in product are in USD.</p>
    </div>
</footer>
